@model Dish
@{
    ViewData["Title"] = Model.Name;
}
<div>
    <a href="/">Home</a>
</div>
<div class="text-center">
    <h1>@Model.Name</h1>
    <h2>@Model.Chef</h2>
</div>
<hr>
<p>@Model.Description</p>
<p>Calories: @Model.Calories</p>
<p>Tastiness: @Model.Tastiness</p>

<div class="text-center mb-3">
    <a href="/dishes/@Model.DishId/delete" class="btn btn-lg btn-danger">Delete</a>
    <a href="/dishes/@Model.DishId/edit" class="btn btn-lg btn-warning">Edit</a>
    </div>
<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>